<div class="loaded2">
  <div id="login-page" class="row">
    <div class="col s1 m3 l4">&nbsp</div>
    <div class="col s10 m5 l4 z-depth-4 card-panel" style="margin-top: 60px;">
      <form class="">
        <div class="row">
          <div class="input-field col s12 center">
            <img src="images/login-logo.png" alt="" class="circle responsive-img valign profile-image-login">
            <p class="center login-form-text">Registrate</p>
          </div>
        </div>
         <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-social-person-outline prefix"></i>
            <input id="name" autocapitalize="off" ng-model="user.name" type="text">
            <label for="name" class="center-align">Nombre</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-social-person-outline prefix"></i>
            <input id="mail" ng-model="user.mail" type="text">
            <label for="mail" class="center-align">Correo electronico</label>
          </div>
        </div>
       
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-action-lock-outline prefix"></i>
            <input id="password" ng-model="user.password" type="password">
            <label for="password">Contraseña</label>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="input-field col s12">
            <input ng-click="signup()" type="submit" value="Registrarse" class="btn waves-effect waves-light col s12"></input>
          </div>
        </div>
        
        <br>

      </form>
    </div>
  </div>
</div>