<div class="loaded">
  <div id="login-page" class="row">
    <div class="col s1 m3 l4">&nbsp</div>
    <div class="col s10 m5 l4 z-depth-4 card-panel" style="margin-top: 60px;">
      <form class="">
        
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-social-person-outline prefix"></i>
            <input id="mail" ng-model="sendMail" type="text">
            <label for="mail" class="center-align">Correo electrónico</label>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="input-field col s12">
            <input ng-click="sendResetPassword()" type="submit" value="Enviar" class="btn waves-effect waves-light col s12"></input>
          </div>
        </div>
        <div class="row">
           <div class="input-field col s6 m6 l6">
              <p ui-sref="login.login" ng-click="cambiarARegister()" class=""><a href>Iniciar Sesión</a></p>
          </div>        
        </div>
        <br>

      </form>
    </div>
  </div>
</div>